*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
 
}

header{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(26, 35, 46);
}

header h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: 900;
    color: white;
}

#botão-voltar {
    text-decoration: none;
    color: yellow;
    background-color: red;
    padding: 1%;
    border-radius: 10px;
    font-size: 8px;
    margin: 1%;
    border: 1px solid white;
      
}

#botão-inicio {
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 1%;
    border-radius: 5px;
    border: 2px solid red;
    margin: 1%;
   
   
}

h3{
    cursor: pointer;    
}

p{
    cursor: pointer;
}

#article1{
    column-count: 2;
    box-shadow:  3px 5px rgb(61, 60, 60);
    background-color: rgb(231, 229, 229);
    border-radius: 11px;
    border: solid 1px gray;
    padding: 10;
    margin: auto;
    column-rule: 5px double white;
    column-gap: 3rem;
    width: 80%;
    text-align: left;
    font-size: 16px;
    cursor: pointer;
}

#article2{
    column-count: none;
    box-shadow:  3px 5px rgb(61, 60, 60);
    background-color: rgb(231, 229, 229);
    border-radius: 11px;
    border: solid 1px gray;
    padding: 10;
    margin: auto;
    column-rule: 5px none;
    column-gap: 3rem;
    width: 80%;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

#article3{
    column-count: 3;
    box-shadow:  3px 5px rgb(61, 60, 60);
    background-color: rgb(231, 229, 229);
    border-radius: 11px;
    border: solid 1px gray;
    padding: 10;
    margin: auto;
    column-rule: 5px double white;
    column-gap: 3rem;
    width: 80%;
    text-align: left;
    font-size: 16px;
    cursor: pointer;
}

#article4{
    column-count: 2;
    box-shadow:  3px 5px rgb(61, 60, 60);
    background-color: rgb(231, 229, 229);
    border-radius: 11px;
    border: solid 1px gray;
    padding: 10;
    margin: auto;
    column-rule: 5px double white;
    column-gap: 3rem;
    width: 80%;
    text-align: right;
    font-size: 16px;
    cursor: pointer;
}

#article5{
    column-count: none;
    box-shadow:  3px 5px rgb(61, 60, 60);
    background-color: rgb(231, 229, 229);
    border-radius: 11px;
    border: solid 1px gray;
    padding: 10;
    margin: auto;
    column-rule: 5px none;
    column-gap: 3rem;
    width: 80%;
    text-align: left;
    font-size: 16px;
    cursor: pointer;
}

#article6{
    column-count: 2;
    box-shadow:  3px 5px rgb(61, 60, 60);
    background-color: rgb(231, 229, 229);
    border-radius: 11px;
    border: solid 1px gray;
    padding: 10;
    margin: auto;
    column-rule: 5px double white;
    column-gap: 3rem;
    width: 80%;
    text-align: left;
    font-size: 16px;
    cursor: pointer;
}

#article7{
    column-count: 2;
    box-shadow:  3px 5px rgb(61, 60, 60);
    background-color: rgb(231, 229, 229);
    border-radius: 11px;
    border: solid 1px gray;
    padding: 10;
    margin: auto;
    column-rule: 5px double white;
    column-gap: 3rem;
    width: 80%;
    text-align: left;
    font-size: 16px;
    cursor: pointer;
}

#article8{
    column-count: none;
    box-shadow:  3px 5px rgb(61, 60, 60);
    background-color: rgb(231, 229, 229);
    border-radius: 11px;
    border: solid 1px gray;
    padding: 10;
    margin: auto;
    column-rule: 5px none;
    column-gap: 3rem;
    width: 80%;
    text-align: left;
    font-size: 16px;
    cursor: pointer;
}

#article9{
    column-count: none;
    box-shadow:  3px 5px rgb(61, 60, 60);
    background-color: rgb(231, 229, 229);
    border-radius: 11px;
    border: solid 1px gray;
    padding: 10;
    margin: auto;
    column-rule: 5px none;
    column-gap: 3rem;
    width: 80%;
    text-align: left;
    font-size: 16px;
    cursor: pointer;
}




footer{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: rgb(21, 29, 39);
    border-radius: none;
    
}


<!--configuração-->
html, body{
        width: 100%;
        overflow-x: hidden;
}
body::-webkit-scrollbar{
        width: 15px;
}

body::-webkit-scrollbar-track{
        background: red;
}

body::-webkit-scrollbar-thumb{
        background: rgb(50, 73, 100);
        border-radius: 25px;
        border: 3px solid white;
}
*::selection{
        color: white;
        background: red;
}



